h1 {
    margin:0 auto;
    padding:10px 0;
    text-shadow: 1px 1px 2px white;
    
}
img{
    margin: 0 auto;
    display: block;
    width: 1040px;
}
.small_photos {
    width: 400px;
    border: 4px;
    margin:0 auto;
}

body{
    width:1040px;
    margin:0 auto;
    background-color: #b2ebf2;
    padding: 10px 10px  10px 10px;
    border: 5px solid white;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}